<form class="{{cssClass}}" autocomplete="off">
    <select name="object.pression" class="pression p{{object.pression}}">
        {{selectOptions (generateSelect 'pression') selected=object.pression}}
    </select>
    <div>
        <span>{{localize "NAUTILUS.PERSONNAGE.VALEURSMORALES.LabelCommune"}}</span>
        <i class="fa-solid {{#unless object.vmcunlock}}fa-lock-open{{else}}fa-lock{{/unless}}"></i>
    </div>

    <select name="object.vmc" class="vmc" {{#unless object.vmcunlock}}disabled{{/unless}}>
        {{selectOptions (generateSelect 'vm') selected=object.vmc localize=true}}
    </select>
</form>