<div class="tab description" data-group="primary" data-tab="description">
    <div class="mainBlock">
        <img class="borderTL" src="systems/nautilus/assets/coin.png" />
        <img class="borderBL" src="systems/nautilus/assets/coin.png" />
        <img class="borderTR" src="systems/nautilus/assets/coin.png" />
        <img class="borderBR" src="systems/nautilus/assets/coin.png" />

        <div class="subBlock">
            {{editor systemData.description target="system.description" button=true owner=owner editable=editable}}
        </div>
    </div>
</div>