<div class="tab historique" data-group="primary" data-tab="historique">
    <div class="description">
        <h1>
            <span>{{localize "NAUTILUS.PERSONNAGE.Description"}}</span>
        </h1>
        <div class="mainBlock">
            <img class="borderTL" src="systems/nautilus/assets/coin.png" />
            <img class="borderBL" src="systems/nautilus/assets/coin.png" />
            <img class="borderTR" src="systems/nautilus/assets/coin.png" />
            <img class="borderBR" src="systems/nautilus/assets/coin.png" />

            {{editor systemData.description target="system.description" button=true editable=editable engine="prosemirror"}}
        </div>
    </div>

    <div class="contact">
        <h1>
            <span>{{localize "NAUTILUS.PERSONNAGE.HISTORIQUE.Contact"}}</span>
        </h1>
        <div class="mainBlock">
            <img class="borderTL" src="systems/nautilus/assets/coin.png" />
            <img class="borderBL" src="systems/nautilus/assets/coin.png" />
            <img class="borderTR" src="systems/nautilus/assets/coin.png" />
            <img class="borderBR" src="systems/nautilus/assets/coin.png" />

            {{editor systemData.contact target="system.contact" button=true editable=editable engine="prosemirror"}}
        </div>
    </div>

    <div class="historique">
        <h1>
            <span>{{localize "NAUTILUS.PERSONNAGE.HISTORIQUE.Label"}}</span>
        </h1>
        <div class="mainBlock">
            <img class="borderTL" src="systems/nautilus/assets/coin.png" />
            <img class="borderBL" src="systems/nautilus/assets/coin.png" />
            <img class="borderTR" src="systems/nautilus/assets/coin.png" />
            <img class="borderBR" src="systems/nautilus/assets/coin.png" />

            {{editor systemData.historique target="system.historique" button=true editable=editable engine="prosemirror"}}
        </div>
    </div>
</div>

