<form class="mainFlex {{cssClass}}" autocomplete="off">
    <header class="sheet-header flexrow">
        <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" />

        <h1 class="charname">
            <input name="name" type="text" value="{{data.name}}" placeholder="{{localize "NAUTILUS.PERSONNAGE.Nom"}}" />
        </h1>

        <div class="flexrow {{#if (isEqual data.type 'heritier')}}identite{{else}}identiteOther{{/if}}">
            <img class="borderTL" src="systems/nautilus/assets/coin.png" />
            <img class="borderBL" src="systems/nautilus/assets/coin.png" />
            <img class="borderTR" src="systems/nautilus/assets/coin.png" />
            <img class="borderBR" src="systems/nautilus/assets/coin.png" />
        </div>
    </header>

</form>
