<div class="ame">
    <h1>
        <span>{{localize "NAUTILUS.VAISSEAUX.AMEAVA.Ameliorations"}}</span>
    </h1>
    <div class="mainBlock">
        <img class="borderTL" src="systems/nautilus/assets/coin.png" />
        <img class="borderBL" src="systems/nautilus/assets/coin.png" />
        <img class="borderTR" src="systems/nautilus/assets/coin.png" />
        <img class="borderBR" src="systems/nautilus/assets/coin.png" />

        <div class="add item-create" data-type="amelioration">
            + {{localize "NAUTILUS.VAISSEAUX.AMEAVA.Ameliorations"}}
        </div>

        {{#each actor.ameliorations as |key ame|}}
        <div class="subBlock">
            <header class="summary main js-toggler" data-item-id="{{key._id}}">
                <span class="deploy"><i class="fa-solid fa-circle-plus"></i> {{key.name}}</span>
                <div class="buttons">
                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                </div>
            </header>
            <div class="sub" style="display:none;">
                <span>{{{key.system.description}}}</span>
            </div>
        </div>
        {{/each}}
    </div>
</div>