<div class="quarts">
    <h1>
        <span>{{localize "NAUTILUS.VAISSEAUX.VOYAGE.Lieux"}}</span>
    </h1>
    <div class="mainBlock">
        <img class="borderTL" src="systems/nautilus/assets/coin.png" />
        <img class="borderBL" src="systems/nautilus/assets/coin.png" />
        <img class="borderTR" src="systems/nautilus/assets/coin.png" />
        <img class="borderBR" src="systems/nautilus/assets/coin.png" />

        <div class="subBlock">
            {{editor systemData.lieux target="system.lieux" button=true owner=owner editable=editable}}
        </div>
    </div>
</div>