<div class="psan">
    <h1>
        <span>{{localize "NAUTILUS.PERSONNAGE.SANTE.Setting"}}</span>
    </h1>
    <div class="mainBlock">
        <img class="borderTL" src="systems/nautilus/assets/coin.png" />
        <img class="borderBL" src="systems/nautilus/assets/coin.png" />
        <img class="borderTR" src="systems/nautilus/assets/coin.png" />
        <img class="borderBR" src="systems/nautilus/assets/coin.png" />

        <span>{{localize "NAUTILUS.PERSONNAGE.SANTE.Paliers"}}</span>
        <input type="number" name="system.sante.max" value="{{systemData.sante.max}}" min="0"/>
    </div>
</div>