<div class="san {{#unless (isEqual data.type 'heritier')}}other{{/unless}}">
    <h1>
        <span>{{localize "NAUTILUS.PERSONNAGE.SANTE.Label"}}</span>
    </h1>
    <div class="mainBlock">
        <img class="borderTL" src="systems/nautilus/assets/coin.png" />
        <img class="borderBL" src="systems/nautilus/assets/coin.png" />
        <img class="borderTR" src="systems/nautilus/assets/coin.png" />
        <img class="borderBR" src="systems/nautilus/assets/coin.png" />

        {{#if (isEqual data.type 'heritier')}}
            <span class="header">{{localize "NAUTILUS.PERSONNAGE.SANTE.HEADER.Niveaux"}}</span>
            <span class="header lBorder">{{localize "NAUTILUS.PERSONNAGE.SANTE.HEADER.Etat"}}</span>
            <span class="header lBorder">{{localize "NAUTILUS.PERSONNAGE.SANTE.HEADER.Consequences"}}</span>
            <span class="header lBorder">{{localize "NAUTILUS.PERSONNAGE.SANTE.HEADER.Recup"}}</span>

            {{#each systemData.sante.list as |key san|}}
                <span class="tBorder">{{key.label}}</span>
                <span class="border sanCheck" data-key="{{san}}">{{#if (sanCheck @root/systemData/sante/value san)}}X{{/if}}</span>
                <span class="border padding">{{key.consequence}}</span>
                <span class="border">{{key.recup}}</span>
            {{/each}}
        {{else}}
            <span class="header">{{localize "NAUTILUS.PERSONNAGE.SANTE.HEADER.Niveaux"}}</span>
            <span class="header lBorder">{{localize "NAUTILUS.PERSONNAGE.SANTE.HEADER.Etat"}}</span>
            <span class="header lBorder">{{localize "NAUTILUS.PERSONNAGE.SANTE.HEADER.Notes"}}</span>

            {{#each systemData.sante.list as |key san|}}
                <span class="tBorder">{{key.label}}</span>
                <span class="border sanCheck" data-key="{{san}}">{{#if (sanCheck @root/systemData/sante/value san)}}X{{/if}}</span>
                <div class="textarea">
                    <textarea name="system.sante.list.{{san}}.notes">{{key.notes}}</textarea>
                    <select name="system.sante.list.{{san}}.malus" class="santemalus" data-key="{{san}}">
                        {{selectOptions (generateSelect 'malus') selected=key.malus localize=true}}
                    </select>
                </div>
            {{/each}}
        {{/if}}
    </div>
</div>